<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

        <!-- Custom Stylesheet -->
        <link rel="stylesheet" href="./stylesheets/style.css">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap" rel="stylesheet">

        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">

        <!-- Webpage Title -->
        <title>COVID-19 Tracker</title>
    </head>
    <body>
        <div class="jumbotron mb-0">
            <div class="container">
                <div class="row header">
                    <div class="col-lg-6">
                        <span class="badge badge-danger py-2 px-3 rounded-pill mb-3">COVID-19 Tracker by Japman Nagra</span>
                        <h1 class="display-4">Stay Home.<br> Stay Safe.</h1>
                        <p class="pr-lg-5">The Coronavirus (COVID-19) is a highly infectious disease that has created a global health crisis. Use the metrics below to learn more about the Coronavirus.</p>
                        <a href="https://github.com/JapmanN/COVID-Tracker" class="btn btn-dark btn-sm mb-4" target="_blank">Github page</a>
                    </div>
                    <div class="col-lg-6">
                        <img src="../assets/medicine.svg" alt="COVID-19 Tracker" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
        

        <div class="container">

            <select name="" id="StatsDropdown" class="row background_dark rounded-pill p-2 mb-2 mx-auto mx-lg-n1">
                <option selected>Worldwide</option>
                <option>Today</option>
            </select>

            <div class="row text-center pt-3 rounded-sm rounded-pill background_dark mb-5">
                <div class="col-sm my-3">
                    <!-- WORLDWIDE CASES -->
                    <h3 class="text-warning globalStats"><%= allData.cases.toLocaleString() %></h3>
                    <p class="globalStats">Confirmed Cases</p>

                    <!-- TODAY'S CASES -->
                    <h3 class="text-warning todayStats d-none"><%= allData.todayCases.toLocaleString() %></h3>
                    <p class="todayStats d-none">Today's Cases</p>
                </div>
                <div class="col-sm my-3">
                    <!-- ACTIVE CASES -->
                    <h3 class="text-info globalStats"><%= allData.active.toLocaleString() %></h3>
                    <p class="globalStats">Active Cases</p>

                    <!-- CRITICAL CASES -->
                    <h3 class="text-white todayStats d-none"><%= allData.critical.toLocaleString() %></h3>
                    <p class="todayStats d-none">Critical Cases</p>
                </div>
                <div class="col-sm my-3">
                    <!-- WORLDWIDE CASES -->
                    <h3 class="text-danger globalStats"><%= allData.deaths.toLocaleString() %></h3>
                    <p class="globalStats">Worldwide Deaths</p>

                    <!-- TODAY'S CASES -->
                    <h3 class="text-danger todayStats d-none"><%= allData.todayDeaths.toLocaleString() %></h3>
                    <p class="todayStats d-none">Today's Deaths</p>
                </div>
                <div class="col-sm my-3">
                    <!-- WORLDWIDE CASES -->
                    <h3 class="text-primary globalStats"><%= allData.recovered.toLocaleString() %></h3>
                    <p class="globalStats">Recovered Cases</p>

                    <!-- TODAY'S CASES -->
                    <h3 class="text-primary todayStats d-none"><%= allData.todayRecovered.toLocaleString() %></h3>
                    <p class="todayStats d-none">Recovered Today</p>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="alert alert-primary text-center d-md-none scroll_table" role="alert">
                Scroll right on the table for more info
            </div>
        </div>

        <div class="container table-responsive">
            <table class="table text-center mt-1">
                <thead>
                    <tr class="table-head">
                        <th scope="col">Ranking</th>
                        <th scope="col">Countries</th>
                        <th scope="col">Cases</th>
                        <th scope="col">Active</th>
                        <th scope="col">Critical</th>
                        <th scope="col">Deaths</th>
                        <th scope="col">Recovered</th>
                    </tr>
                </thead>
                <tbody class="table-body">
                    <% for(var i = 0; i < countries.length; i++) { %>
                        <tr>
                            <th scope="row""><%= i+1 %></th>
                            <td><%= countries[i].country %></td>
                            <td class="text-warning"><%= countries[i].cases.toLocaleString() %></td>
                            <td class="text-info"><%= countries[i].active.toLocaleString() %></td>
                            <td class="text-light"><%= countries[i].critical.toLocaleString() %></td>
                            <td class="text-danger"><%= countries[i].deaths.toLocaleString() %></td>
                            <td class="text-primary"><%= countries[i].recovered.toLocaleString() %></td>
                        </tr>
                    <% } %>
                </tbody>
            </table>            
        </div>

        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        
        <!-- Custom JavaScript -->
        <script src="./scripts/script.js"></script>
    </body>
</html>